{{#if page.title '===' 'About AvidMax'}}
  <div class="page-header-hero" id="pg-about"><h1>{{page.title}}</h1></div>
{{/if}}
{{#if page.title '===' 'About Us'}}
  <div class="page-header-hero" id="pg-about"><h1>{{page.title}}</h1></div>
{{/if}}

{{#if page.title '===' 'Affiliate Program'}}
  <div class="page-header-hero" id="pg-affiliate"><h1>{{page.title}}</h1></div>
{{/if}}

{{#if page.title '===' 'Contact Us DRAFT'}}
  <div class="page-header-hero" id="pg-contact"><h1>Contact Us</h1></div>
{{/if}}
{{#if page.title '===' 'Contact Us'}}
  <div class="page-header-hero" id="pg-contact"><h1>{{page.title}}</h1></div>
{{/if}}

{{#if page.title '===' 'Retail Store'}}
  <div class="page-header-hero" id="pg-retail-store"><h1>{{page.title}}</h1></div>
{{/if}}
{{#if page.title '===' 'Sustainability'}}
  <div class="page-header-hero" id="pg-sustainability"><h1>{{page.title}}</h1></div>
{{/if}}





{{#if category.name '===' 'Watercraft'}}
<!--   <div class="page-header-hero" id="pg-cat-watercraft"><h1>{{category.name}}</h1></div> -->
{{/if}}


