// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------
.product-video-wrapper {
  @media (max-width: 1026px) {
   display:none
  }

}
.productView {
    @include grid-row($behavior: "nest");
    margin-left: spacing("base");
    margin-right: spacing("base");

    @include breakpoint("small") {
      margin-left: spacing("base");
      margin-right: spacing("base");
    }
    @include breakpoint("large") {
      margin-left: -(spacing("base"));
      margin-right: -(spacing("base"));
    }


    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(7, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(5, $total-columns);
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    ul.tabs {
      border-bottom: 2px solid #c8c8c8;
    }

    @include breakpoint("large") {
        clear: right;
        float: right;
        width: grid-calc(12, $total-columns);
    }
}
