<div class="section-row">
  <div class="section-home section-full" id="b1">
    <div class="main">{{lang 'home.section_1_main' }}</div>
    <div class="sub">{{lang 'home.section_1_sub' }}</div>
    <div class="cta"><a href="{{lang 'home.section_1_link' }}">{{lang 'home.section_1_cta' }}</a></div>
  </div>
</div>

<div class="brand-slider-wrapper">
  <div class="brand-nav-left" onclick="moveRight();">
    <img src="{{cdn '/assets/img/arrow-left.svg'}}" />
  </div>
  <div class="brand-slider">
    <div class="brand-slide-wrapper">
      <div class="brand-slide" id="slide02"><a href="/brands/patagonia.html"><img src="{{cdn '/assets/img/vendor/patagonia.svg'}}" /></a></div>
      <div class="brand-slide" id="slide01"><a href="/brands/redington.html"><img src="{{cdn '/assets/img/vendor/redington.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/fishpond.html"><img src="{{cdn '/assets/img/vendor/fishpond.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/g-loomis.html"><img src="{{cdn '/assets/img/vendor/g-loomis.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/korkers.html"><img src="{{cdn '/assets/img/vendor/korkers.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/marmot.html"><img src="{{cdn '/assets/img/vendor/marmot-horizontal.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/chota.html"><img src="{{cdn '/assets/img/vendor/chota.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/loon-outdoors.html"><img src="{{cdn '/assets/img/vendor/loon.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/howler-brothers.html"><img src="{{cdn '/assets/img/vendor/howler-bros.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/msr.html"><img src="{{cdn '/assets/img/vendor/MSR.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/mindshift.html"><img src="{{cdn '/assets/img/vendor/mind-shift.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/outcast-sporting-gear.html"><img src="{{cdn '/assets/img/vendor/outcast-sporting-gear.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/eno.html"><img src="{{cdn '/assets/img/vendor/eno.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/buff.html"><img src="{{cdn '/assets/img/vendor/buff.svg'}}" /></a></div>
      <div class="brand-slide" id="slide03"><a href="/brands/dr.-slick.html"><img src="{{cdn '/assets/img/vendor/dr-slick-co.svg'}}" /></a></div>
    </div>
  </div>

  <div class="brand-nav-right">
    <img src="{{cdn '/assets/img/arrow-right.svg'}}" />
  </div>
</div>

<div class="section-row">
  <div class="section-home section-qt" id="q1">
    <a href="{{lang 'home.section_2a_link' }}"><img src="{{cdn '/assets/img/redington.png'}}" /></a>
    <div class="main2"><a href="{{lang 'home.section_2a_link' }}">{{lang 'home.section_2a_main' }}</a></div>
  </div>
  <div class="section-home section-qt" id="q2">
    <div class="main2"><a href="{{lang 'home.section_2b_link' }}" target="_blank">{{lang 'home.section_2b_main' }}</a></div>
  </div>
  <div class="section-home section-half" id="h1" style="position: relative;">
    <img src="{{cdn '/assets/img/play-arrow.svg'}}" width="50" class="video-play" />
    <div class="main2">{{lang 'home.section_2c_main' }}</div>
    <div class="sub">{{lang 'home.section_2c_sub' }}</div>
    <!-- video  -->
    <iframe width="560" height="315" src="//www.youtube.com/embed/{{lang 'home.section_2c_video'}}?list={{lang 'section_2c_list'}}" frameborder="0" allowfullscreen class="playlist" ></iframe>
  </div>
</div>

<div class="section-row">
  <div class="section-home section-half" id="h2">
    <div class="main2"><a href="{{lang 'home.section_3a_link' }}">{{lang 'home.section_3a_main' }}</a></div>
    <div class="sub"><a href="{{lang 'home.section_3a_link' }}" target="_blank">{{lang 'home.section_3a_sub' }}</a></div>
  </div>
  <div class="section-home section-qt" id="q3">
    <div class="main2"><a href="{{lang 'home.section_3b_link' }}">{{lang 'home.section_3b_main' }}</a></div>
  </div>
  <div class="section-home section-qt" id="q4">
    <div class="main">{{lang 'home.section_3c_main' }}</div>
    <div class="sub">{{lang 'home.section_3c_sub' }}</div>
    <!-- video  -->
    <iframe width="560" height="315" src="//www.youtube.com/embed/{{lang 'home.section_3c_video'}}" frameborder="0" allowfullscreen class="q4video" ></iframe>

  </div>
</div>

<div class="section-row">
  <div class="section-home section-full" id="b2">
    <div class="main">{{lang 'home.section_4_main' }}</div>
    <div class="cta"><a href="{{lang 'home.section_4_link' }}">{{lang 'home.section_4_sub' }}</a></div>
  </div>
</div>

<div class="section-row">
  <div class="section-home section-full" id="b3">
    <div class="main">{{lang 'home.section_5_main' }}</div>
    <div class="cta"><a href="{{lang 'home.section_5_link' }}">{{lang 'home.section_5_sub' }}</a></div>
  </div>
</div>
