<div class="section-row">
    <div class="section-home section-full" id="b1" style="background-image: url({{lang 'home.section_1_heroimage' }})">
        <div class="main">{{lang 'home.section_1_main' }}</div>
        <div class="sub">{{lang 'home.section_1_sub' }}</div>
        <div class="cta"><a href="{{lang 'home.section_1_link' }}">{{lang 'home.section_1_cta' }}</a></div>
    </div>
</div>
<div class="container">
    <div class="brandsslider" data-slick='{
  "dots": false,
  "slidesToScroll": 4,
  "slidesToShow": 7,
  "responsive": [
      {
          "breakpoint": 1260,
          "settings": {
              "slidesToScroll": 4,
              "slidesToShow": 7
          }
      },
        {
          "breakpoint": 768,
          "settings": {
              "slidesToScroll": 2,
              "slidesToShow": 4
          }
      },
      {
          "breakpoint": 640,
          "settings": {
              "slidesToScroll": 1,
              "slidesToShow": 3
          }
      },
      {
          "breakpoint": 414,
          "settings": {
              "slidesToScroll": 1,
              "slidesToShow": 3
          }
      }
      ]
}'>
        <div class="brand-slide">
            <a href="/brands/patagonia.html"><img src="{{cdn '/assets/img/vendor/patagonia.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/redington.html"><img src="{{cdn '/assets/img/vendor/redington.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/fishpond.html"><img src="{{cdn '/assets/img/vendor/fishpond.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/g-loomis.html"><img src="{{cdn '/assets/img/vendor/g-loomis.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/korkers.html"><img src="{{cdn '/assets/img/vendor/korkers.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/marmot.html"><img src="{{cdn '/assets/img/vendor/marmot-horizontal.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/chota.html"><img src="{{cdn '/assets/img/vendor/chota.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/loon-outdoors.html"><img src="{{cdn '/assets/img/vendor/loon.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/howler-brothers.html"><img src="{{cdn '/assets/img/vendor/howler-bros.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/msr.html"><img src="{{cdn '/assets/img/vendor/MSR.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/mindshift.html"><img src="{{cdn '/assets/img/vendor/mind-shift.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/outcast-sporting-gear.html"><img src="{{cdn '/assets/img/vendor/outcast-sporting-gear.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/eno.html"><img src="{{cdn '/assets/img/vendor/eno.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/buff.html"><img src="{{cdn '/assets/img/vendor/buff.svg'}}" /></a>
        </div>
        <div class="brand-slide">
            <a href="/brands/dr.-slick.html"><img src="{{cdn '/assets/img/vendor/dr-slick-co.svg'}}" /></a>
        </div>
    </div>
</div>


<div class="section-row">
    <div class="section-home section-qt" id="q1">
        <a href="{{lang 'home.section_2a_link' }}"><img src="{{lang 'home.section_2a_image' }}" /></a>
        <div class="main2"><a href="{{lang 'home.section_2a_link' }}">{{lang 'home.section_2a_main' }}</a></div>
    </div>
    <div class="section-home section-qt" id="q2" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{lang 'home.section_2b_image' }});">
        <div class="main2"><a href="{{lang 'home.section_2b_link' }}" target="_blank">{{lang 'home.section_2b_main' }}</a></div>
    </div>
    <div class="section-home section-half" id="h1" style="position: relative; background-image: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{lang 'home.section_2c_image' }});">
        <img src="{{cdn '/assets/img/play-arrow.svg'}}" width="50" class="video-play" />
        <div class="main2">{{lang 'home.section_2c_main' }}</div>
        <div class="sub">{{lang 'home.section_2c_sub' }}</div>
        <!-- video  -->
        <iframe width="560" height="315" src="//www.youtube.com/embed/{{lang 'home.section_2c_video'}}?list={{lang 'home.section_2c_list'}}" frameborder="0" allowfullscreen class="playlist"></iframe>
    </div>
</div>

<div class="section-row">
    <div class="section-home section-half" id="h2" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{lang 'home.section_3a_image' }});">
        <div class="main2"><a href="{{lang 'home.section_3a_link' }}">{{lang 'home.section_3a_main' }}</a></div>
        <div class="sub"><a href="{{lang 'home.section_3a_link' }}" target="_blank">{{lang 'home.section_3a_sub' }}</a></div>
    </div>
    <div class="section-home section-qt" id="q3" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{lang 'home.section_3b_image' }});">
        <div class="main2"><a href="{{lang 'home.section_3b_link' }}">{{lang 'home.section_3b_main' }}</a></div>
    </div>
    <div class="section-home section-qt" id="q4" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{lang 'home.section_3c_image' }});">
        <img src="{{cdn '/assets/img/play-arrow.svg'}}" width="50" class="video-play2" />
        <div class="main">{{lang 'home.section_3c_main' }}</div>
        <div class="sub">{{lang 'home.section_3c_sub' }}</div>
        <!-- video  -->
        <iframe width="560" height="315" src="//www.youtube.com/embed/{{lang 'home.section_3c_video'}}" frameborder="0" allowfullscreen class="q4video"></iframe>

    </div>
</div>

<div class="section-row">
    <div class="section-home section-full" id="b2" style="background-image: url({{lang 'home.section_4_image' }});">
        <div class="main">{{lang 'home.section_4_main' }}</div>
        <div class="cta"><a href="{{lang 'home.section_4_link' }}">{{lang 'home.section_4_sub' }}</a></div>
    </div>
</div>

<div class="section-row">
    <div class="section-home section-full" id="b3" style="background-image: url({{lang 'home.section_5_image' }});">
        <div class="main">{{lang 'home.section_5_main' }}</div>
        <div class="cta"><a href="{{lang 'home.section_5_link' }}">{{lang 'home.section_5_sub' }}</a></div>
    </div>
</div>
